@model List<Product>

@section title {
    <h3>Products</h3>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>      
                <th>Category Name</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>    
                    <td>@product.Category?.Name</td>
                    <td>@product.Name</td>
                    <td>@product.Price?.ToString("c")</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}