@model CoreBusiness.Category

@section title {
    @if (Model != null)
    {
        <h3>Category: @Model.Name</h3>
    }    
}

@if (Model != null)
{
    <partial name="_Category" model="@Model" />
}